body {
    background-attachment: fixed;
    background-image: url("../pics/pexels-fwstudio-172289resizeimage.jpg");
    overflow-y: hidden;
}

p {
    color: antiquewhite;
}

h1 {
    color: antiquewhite;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 40px;
    font-size: 4.75rem;
}

#est {
    color: antiquewhite;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 550px;
    font-size: 4.75rem;
    z-index: 0;
}

.example::-webkit-scrollbar {
    display: none;
  }

#front-bar {
    opacity: 75%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: -1;
}


.switch{
    position: fixed;
    left: 50px;
    top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}